src/main/resources/texts/texts.dtd

<?xml encoding="UTF-8"?>

    <!ELEMENT texts (text)+>
    <!ATTLIST text id CDATA "">

    <!ELEMENT text (#PCDATA|h1|p|color)*>

    <!ELEMENT p (#PCDATA|i)*>

    <!ELEMENT h1 (#PCDATA)*>
    <!ELEMENT h2 (#PCDATA)*>
    <!ELEMENT h3 (#PCDATA)*>
    <!ELEMENT i (#PCDATA)*>

    <!ELEMENT color (#PCDATA|h1|h2|h3|p)*>
    <!ATTLIST color
            name CDATA "">


    <!ENTITY exhausted "$EXHAUSTED$">

